<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mpreventos.admin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controller.ProductoDetalles"></activity>
        <activity android:name=".controller.ProductoAdd" />
        <activity android:name=".controller.CategoriaAdd" />
        <activity android:name=".controller.CategoriaDetalles" />
        <activity android:name=".controller.TematicaDetalles" />
        <activity android:name=".controller.TematicaAdd" />
        <activity android:name=".controller.EventoDetalles" />
        <activity android:name=".controller.EventoAdd" />
        <activity android:name=".controller.CategoriaLista" />
        <activity android:name=".controller.ProductoLista" />
        <activity android:name=".controller.EventoLista" />
        <activity android:name=".controller.TematicaLista" />
        <activity
            android:name=".controller.SignInActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity android:name=".controller.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>